#login {
	background: url('../../assets/loginBg.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	color: white;
	.login {
		width: 300px;
		height: 100px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		.login-item {
			margin-bottom: 30px;
			font-size: 26px;
			input {
				outline: 0;
				border: 1px solid #DCDCDC;
				background: white;
				height: 30px;
				width: 200px;
				border-radius: 3px;
				text-indent: 1em;
				vertical-align: middle;
			}
			input:focus {
				border-color: #96BEF1;
			}
		}
		button {
			outline: 0;
			border: 0;
			float: right;
			background: transparent;
			color: white;
			font-size: 20px;
			cursor: pointer;
			border: 1px solid #C070D1;
			padding: 10px 20px;
			border-radius: 3px;
			transition: all .4s ease-in-out;
		}
		button:hover {
			border-color: white;
			color: #C070D1;
		}
	}
}