#archive {
	margin: 40px 40px 0 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #CCCCCC;
	color: #666666;
	h2 {
		font-size: 32px;
		font-weight: 300;
		color: #373737;
		margin-bottom: 20px;
	}
    .archive-list {
    	margin-bottom: 30px;
    	h3 {
    		font-size: 20px;
    		font-weight: 400;
    		margin-bottom: 30px;
    	}
    	ul {
    		list-style-position: outside;
    		padding-left: 40px;
    		a {
    			color: #6F8DCC;
                cursor: pointer;
    		}
        	span {
        		color: #9999AF;
        		font-style: italic;
        		font-size: 14px;
    		}		
    	}

    }
}