#article {
	margin: 40px 40px 0 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #CCCCCC;
	color: #666666;	
	header {
		span:first-of-type {
			font-size: 30px;
			font-weight: 300;
			color: #000;
		}
		span:last-of-type {
			float: right;
			font-size: 13px;
			margin-top: 10px;
		}
	}
}