#article {
	margin: 40px 40px 0 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #CCCCCC;
	color: #666666;	
	header {
		margin-bottom: 20px;
		span:first-of-type {
			font-size: 36px;
			font-weight: 300;
			color: #000;
		}
		span:last-of-type {
			float: right;
			font-size: 13px;
			margin-top: 10px;
		}
	}
	.entry-content {
		p {
			margin: 10px 0;
		}
		h1, h2, h3, h4, h5, h6 {
			color: #2479CC;
			margin: 20px 0;
			font-weight: 400;
		}

	}
	.appendix {
		border: 1px solid #CCCCCC;
		border-radius: 3px;
		float: right;
		padding: 10px 15px;
		margin-bottom: 20px;
		header {
			color: #4B4949;
			padding-bottom: 5px;
			border-bottom: 1px solid #CCCCCC;
		}
		.content {
			margin-top: -10px;
			ul {
				font-size: 15px;
				font-weight: 300;
			}
		}
	}
	a {
		color: #2479CC;
		cursor: pointer;
	}
	footer {
		clear: both;
		border-top: 1px solid #CCCCCC;
		color: #2479CC;
		font-size: 20px;
		padding-top: 10px;
		.lastArticle {
			float: left;
			cursor: pointer;
		}
		.nextArticle {
			float: right;
			cursor: pointer;
		}
	}
}

@media only screen and (max-width: 768px) {
	#article {
		margin: 20px 20px 0 20px;
		.appendix {
			float: none;
			width: 100%;
			box-sizing: border-box;
		}
	}
}