@import 'general';

#articleList {
	height: 100%;
	overflow-y: scroll;
	@include flexbox();
	flex-direction: column;
	.article {
		border-bottom: 1px solid #CCCCCC;
		padding: 40px 0;
		margin: 0 40px;
		color: #666666;
		span:first-of-type {
			color: #333333;
			font-size: 30px;
			font-weight: 300;
			cursor: pointer;
			&:hover {
				color: #5999BF;
			}
		}
		span:last-of-type {
			float: right;
			font-size: 13px;
		}
		div {
			margin-top: 20px;
			h1, h2, h3, h4, h5, h6 {
				font-weight: 300;
			}
			a {
				color: #2479CC;
				cursor: pointer;
			}
		}
	}
}