#article {
	margin: 40px 40px 0 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #CCCCCC;
	color: #666666;	
	header {
		margin-bottom: 20px;
		span:first-of-type {
			font-size: 36px;
			font-weight: 300;
			color: #000;
		}
		span:last-of-type {
			float: right;
			font-size: 13px;
			margin-top: 10px;
		}
	}
	.entry-content {
		p {
			margin: 10px 0;
		}
		h1, h2, h3, h4, h5, h6 {
			color: #2479CC;
			margin: 20px 0;
			font-weight: 400;
		}
		a {
			color: #2479CC;
			cursor: pointer;
		}
	}
}