@import 'general';

#front {
	height: 100%;
	@include flexbox();
	#sm {
		height: 50px;
		width: 100%;
		background: url('../../assets/sideBar.jpg');
		background-position: 0 -200px;
		color: white;
		line-height: 50px;
		text-align: center;
		i {
			float: left;
			line-height: 50px;
			margin-left: 10px;
			font-size: 20px;
		}
		span {
			display: inline-block;
			margin-left: -15px;
		}
	}
	.center {
		@include flex(1 0 auto);
		width: 70%;
		height: 100%;
		overflow-x: hidden;
		#arrow-up {
			position: fixed;
			bottom: 20px;
			right: 20px;
			width: 50px;
			line-height: 50px;
			border-radius: 50%;
			background: rgba(0, 0, 0, 0.8);
			color: #FFF;
			text-align: center;
			font-size: 30px;
			cursor: pointer;
			transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			-o-transition: all .4s ease-in-out;
		}
		.hide {
			opacity: 0;
		}
		footer {
			font-size: 14px;
			color: #787878;
			text-align: center;
			margin: 20px 0;
			p:first-of-type {
				margin-bottom: 10px;
			}
			a {
				color: #2479CC;
			}
		}
	}
}