@import 'general';

#sideBar {
	color: white;
	i {
		cursor: pointer;
	}
	a {
		color: white;
	}
	> div {
		height: 100%;
		background: url('../../assets/sideBar.jpg');
		background-size: cover;
		transition: background-position-x 1s ease-in-out;
		-webkit-transition: background-position-x 1s ease-in-out;
		-moz-transition: background-position-x 1s ease-in-out;
		-o-transition: background-position-x 1s ease-in-out;
		-ms-transition: background-position-x 1s ease-in-out;		
	}
	#lg {
		@include flex(0 0 240px);
		width: 240px;
		&:hover {
			background-position: -120px;
		}
		.title {
			padding-top: 180px;
			text-align: center;
			font-size: 20px;
			margin-bottom: 30px;
		}
		nav {
			div {
				font-size: 19px;
				margin-left: 30px;
				margin-bottom: 20px;
				cursor: pointer;
				i {
					margin-right: 30px;
					width: 20px;
				}
			}
		}
		.more-mes {
			margin-top: 30px;
			margin-left: 30px;
			i {
				font-size: 20px;
				margin-right: 30px;
			}
		}
	}
	#md {
		@include flex(0 0 76px);
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 76px;
		&:hover {
			background-position: -240px;
		}
		i {
			margin: 15px 0;
			font-size: 20px;
		}
	}
}